body {
    font-family: sans-serif;
    background-color: dodgerblue;
    margin: 0;
}

header {
    margin: 0;
    width: 100%;
}

nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav>a {
    padding: 30px;
    border: 3px solid black;
    width: 100%;
    text-align: center;
    background-color: rgb(242, 83, 83);
    text-decoration: none;
    color: black;
    font-size: 30px;
}

table,
table,
td,
th {
    border: 3px solid black;
    padding: 5px;
    font-size: 25px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: center;
}

td>button {
    font-size: 20px;
    background-color: transparent;
}

th {
    background-color: cadetblue;
}

.hlavni {
    border: 3px solid black;
    margin: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: cadetblue;
}

.hlavni>form {
    text-align: center;
    padding: 20px;
}

.hlavni>form>input,
label,
select {
    font-size: 25px;
    color: darkblue;
    padding: 10px;
}

.hlavni>p {
    text-align: center;
    font-size: 20px;
}

tr:nth-child(2n +2) {
    background-color: lightblue;
}

td:nth-child(2) {
    font-weight: bold;
}

td:nth-child(4) {
    font-weight: bold;
}

td>a {
    color: black;
}



.statistiky {
    padding: 50px 0;
    background-color: rgb(25, 123, 220);
    border: none;
    width: 100%;
    max-width: 600px;   
    margin: 0 auto;           
    display: flex;
    justify-content: center;
}

.statistiky > a{
    text-decoration: none;
}
.statistiky>a>input {
    padding: 20px;
    font-size: 20px;   
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

tr.firma {
    background-color: rgb(242, 83, 83);
        /* světle modrá */
}

tr.jednotlivec {
    background-color: white;
    /* světle žlutá */
}
.zmrzlina-item {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    border: 1px solid #999;
    background-color: #f5faff;
    border-radius: 6px;
    margin-bottom: 10px;
  }
  
  .typ-baleni,
  .prichut-select,
  .pocet-kusu {
    padding: 5px;
    font-size: 15px;
  }
  
  .pocet-kusu {
    width: 80px;
  }
  
  .btn-odebrat {
    background-color: crimson;
    color: white;
    border: none;
    font-size: 18px;
    padding: 4px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn-odebrat:hover {
    background-color: darkred;
  }
  
